.input-area-contact input{
    width: 60%;
    padding: 12px;
    border: 2px solid #1805867a;
    outline: none;
}
.signin-btn{
    width: 60%;
    background-image: linear-gradient(to right, #9258f9, #c253db, #dc58c0, #e767aa, #e8799b);
    color: white;
    padding: 10px;
}
.google-btn{
    padding: 8px;
    width: 60%;
    background: white;
}